html,
body {
  font-family: Arial, sans-serif;
  width: 100%;
  height: 100%;
  /* margin: 0; */
  padding: 0;
}

.body {
  width: 100%;
  height: 700px;
  margin-top:150px;
  margin-bottom: 1em;
  padding:0.5em;
}


.basecamp {
  background-image: url("../pic/background.JPG");
  /* background-size: cover; */
  /* min-height: 480px; */
  /* margin: 1.5em 0em 1.5em 0em; */
  /*-- Animate the article --*/
  /* -webkit-transition: 3s ease-in-out;
  transition: 3s ease-in-out; */
}